body{
      font-family: 'Poppins', sans-serif;
      margin: 0%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.top-banner{
    display: flex;
}
.haif-width{
    width: 50%;
    padding-left: 5%;
    margin-top: 200px;
}
.haif-width img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 30px;
}
.background-image{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: contain;
    position: relative;
    margin-top: 30px;
}
.about-me{
    width: 30%;
    padding-left:  55%;
    margin-top: 200px;
    padding-top: 9%;
}
.recipies{
    text-align: center;
}
.recipies-title{
    display: flex;
    margin: 2% 6%;
}
.title-1{
    margin-right: 4%;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray; 
}
.title-1 img{
    width: 100%;
    height: 250px; 
}
.title-2{
    margin-right: 4%;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
}
.title-2 img{
    width: 100%;
    height: 250px;
}
.title-3{
    margin-right: 4%;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
}
.title-3 img{
    width: 100%;
    height: 250px;
}
.footer-1{
    background: #303036;
    color: #d3d3d3;
    text-align: center;
    height: 220px;
    padding-top: 20px;
}
.menu-bar{
    background-color: orange;
    text-align: center;
}
.menu-bar h2{
     display: inline-flex;
     text-decoration: none;
    list-style: none;
    color: white;
    width: 150px;
    margin: 30px;
    padding: 10px 10px 20px 30px;
    border-radius: 30px;
    background: orangered
    }
